* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Source Sans Pro",sans-serif;
}

body {
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover, a:focus {
    text-decoration: underline;
}

code, code > span, kbd, pre, samp {
    line-height: 1.1em;
    font-size: 17px;
    font-family: monospace,monospace!important;
}

/* LAYOUT CSS */

blockquote {
    margin: 0 0 1rem;
    padding: 0px 1.25rem 0px 1.1875rem;
    border-left: 1px solid #cacaca;
    color: #8a8a8a;
}

blockquote p {
    margin: 0;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 2em auto;
}

.sidebar, .sidebar a {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title, .brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
    display: none;
}

.nav-list {
    margin: 0.8em 0 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #818181;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: bold;
    letter-spacing: normal;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 0;
    max-width: 768px;
    letter-spacing: normal;
}

article header > h1, article header > h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
}
article header > h1, article header > h2, article header a {
    color: #494949;
}
article .post-description, article .post-body, article .post-tl-dr,
.books, .talks {
    text-align: justify;
    font-size: 20px;
    line-height: 1.44em;
    color: #383838;
}
article header .post-meta {
    color: #818181;
    font-size: 0.9rem;
    font-weight: bold;
}

ul.books, ul.talks {
    padding-left: 0;
}

.label {
    background-color: #008cba;
    color: #fff;
    font-size: 80%;
    margin: 0 0.1em;
    padding: 0.3em 1em;
}

.label.radius {
    border-radius: 3px;
}
.label.til {
    background-color: #818181;
    padding: 0.1em 0.5em;
    border: none;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #818181;
    font-size: 0.9rem;
    font-weight: bold;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .brand-title, .brand-tagline {
        display: block;
    }
}
