/** header navigation */

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro",sans-serif;
}

table {
    width: 100%;
}

header.main {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-top: 25px;
}

header.main h1 {
    font-weight: bold;
}

header.main h1, header.main ul {
    font-size: 1.8rem;
}

/** posts + post */
article header h1 {
    margin-bottom: 0;
}

article header .postDetails {
    color: #7F7F7F;
    font-weight: bold;
    font-size: 0.9rem;
}

article header {
    margin-bottom: 10px;
}

article p {
    text-align: justify;
}

/** posts */
.posts header h1 {
    font-size: 1.3rem;
}

/** post */
article.post header h1 {
    font-size: 1.8rem;
}

/** code blocks */
table.highlighttable, table.highlighttable .code, .gist .line-data {
    width: 100%;
}

.highlight {
    padding: 5px;
    background-color: #f0f0f0;
    border-color: #ddd #ddd #ccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

.highlight code {
    border: none;
    background-color: inherit;
}
