---
layout: default
---

<section itemscope itemtype="http://schema.org/Blog">
    <h1 class="content-subhead">Posts</h1>

    {% for post in site.posts %}
    <article>
        <header>
            <h2 itemprop="headline">
                {% if post.categories contains 'til' %}<abbr class="label radius til" title="Today I Learned">TIL</abbr>{% endif %}
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>

            <span class="post-meta">
                <time pubdate="pubdate" datetime="{{ post.date | date_to_xmlschema }}">
                    <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" />
                    {{ post.date | date_to_long_string }}
                </time>
                —
                <span class="reading-time" title="Estimated reading time">
                    {% assign words = post.content|strip_html|number_of_words %}
                    {% if words < 270 %}
                        ~1 minute
                    {% else %}
                        ~{{ words | divided_by:135 }} minutes
                    {% endif %}
                </span>
            </span>
        </header>

        <section class="post-description" itemprop="description">
            {% if post.description %}
            {{ post.description|markdownify }}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
        </section>
    </article>
    {% endfor %}
</section>
