<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ site.config.author }}" />

    {% if page.title %}
        <title>{{ page.title }} &mdash; {{ site.config.title }}</title>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ site.config.url }}{{ page.url }}" />
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}" />

        {% if page.date %}
            <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        {% endif %}

        {% if page.tags %}
            {% for tag in page.tags %}
            <meta content="{{ tag }}" property="article:tag" />
            {% endfor %}
        {% endif %}

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@KPhoen" />
        <meta name="twitter:creator" content="@KPhoen" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% endif %}" />
    {% else %}
        <title>{{ site.config.title }}</title>
        <meta property="og:title" content="{{ site.config.title }}" />
        <meta property="og:type" content="website" />
    {% endif %}

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ page.theme_dir }}/css/pygments-github.css" />
    <link rel="stylesheet" href="{{ page.theme_dir }}/css/blog.css" />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-5">
        <div class="header">
            <h1 class="brand-title">Kévin Gomez</h1>
            <h2 class="brand-tagline">I can git now.</h2>

            <nav class="nav">
                <ul class="nav-list">
                    {% for link in site.config.menu %}
                    <li class="nav-item">
                        <a class="pure-button" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-4-5">
        <div>
            {{ content }}

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://www.kevingomez.fr" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/KPhoen/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/K-Phoen/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2296753-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
