---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">
            {% if page.categories contains 'til' %}<abbr class="label radius til" title="Today I Learned">TIL</abbr>{% endif %}
            {{ page.title }}
        </h1>
        <span class="post-meta">
            <meta itemprop="inLanguage" content="{% if page.language %}{{ page.language }}{% else %}en-US{% endif %}" />
            <time pubdate="pubdate" datetime="{{ page.date|date_to_xmlschema }}">
                <meta itemprop="datePublished" content="{{ page.date|date_to_xmlschema }}" />
                {{ page.date|date_to_long_string }}
            </time>
            —
            <span class="reading-time" title="Estimated reading time">
                {% assign words = content|strip_html|number_of_words %}
                {% if words < 270 %}
                    ~1 minute
                {% else %}
                    ~{{ words|divided_by:135 }} minutes
                {% endif %}
            </span>
        </span>
    </header>

    {% if page.tldr %}
    <section class="shortcuts">
        <p><span class="label radius">Jump to:</span> <a href="#tl-dr">TL;DR</a></p>
    </section>
    {% endif %}

    <section class="post-body" itemprop="articleBody">
        {{ content }}
    </section>

    {% if page.tldr %}
    <section class="post-tl-dr">
        <h2 id="tl-dr">TL;DR</h2>
        {{ page.tldr|markdownify }}
    </section>
    {% endif %}

    <section class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'k-phoen';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </section>
</article>
